trigger:
- main

variables:
- group: test
stages:
# -----------------------------------
# Stage 1: Build
# -----------------------------------
- stage: Build
  jobs:
  - job: BuildJob
    steps:
    - bash: |
        echo "##vso[task.setvariable variable=isVeracodescan]true"
      displayName: 'Set Variable Step'


