trigger:
- main

stages:
# -----------------------------------
# Stage 1: Build
# -----------------------------------
- stage: Build
  jobs:
  - job: BuildJob
    steps:
    - script: echo "Building app..."
    - script: echo "App built successfully."

    # Build Tag
    - powershell: |
        Write-Host "##vso[build.addbuildtag]build-stage"
        Write-Host "##vso[build.addbuildtag]demo"
      displayName: "Add Build Tags"
    
    - script: npm install
      displayName: Install

    - script: npm run build
      displayName: Build App

    - script: ls -R $(Build.SourcesDirectory)
      displayName: Debug Directory Structure

    - task: PublishBuildArtifacts@1
      inputs:
        pathToPublish: '$(Build.SourcesDirectory)/dist'
        artifactName: 'drop'             

# -----------------------------------
# Stage 2: Deploy (Release Tag + Environment Tag)
# -----------------------------------
- stage: Deploy
  dependsOn: Build
  jobs:
  - deployment: DeployJob
    environment: 
      name: "Dev"
    strategy:
      runOnce:
        deploy:
          steps:
          - script: echo "Deploying to Dev environment..."

          # Release Tag
          - powershell: |
              Write-Host "##vso[build.addbuildtag]release-dev"
            displayName: "Add Release Tag"



