trigger:
- main

stages:
# -----------------------------------
# Stage 1: Build
# -----------------------------------
- stage: Build
  jobs:
  - job: BuildJob
    steps:
    - script: echo "Building app..."
    - script: echo "App built successfully."

    # Build Tag
    - powershell: |
        Write-Host "##vso[build.addbuildtag]build-stage"
        Write-Host "##vso[build.addbuildtag]demo"
      displayName: "Add Build Tags"

    # Publish artifact
    - task: PublishBuildArtifacts@1
      inputs:
        pathToPublish: 'dist'
        artifactName: 'drop'

    # Artifact Tag
    - powershell: |
        Write-Host "##vso[build.addbuildtag]artifact-drop"
      displayName: "Tag Artifact"

# -----------------------------------
# Stage 2: Deploy (Release Tag + Environment Tag)
# -----------------------------------
- stage: Deploy
  dependsOn: Build
  jobs:
  - deployment: DeployJob
    environment: 
      name: "Dev"
    strategy:
      runOnce:
        deploy:
          steps:
          - script: echo "Deploying to Dev environment..."

          # Release Tag
          - powershell: |
              Write-Host "##vso[build.addbuildtag]release-dev"
            displayName: "Add Release Tag"
